.result-thumbnail {
    background-position: center;
    background-size: cover;
    height: 176px;
    width: 176px;
}

.result-description {
    min-height: 95px;
}

@media only screen and (max-width: 576px) {
    .result-thumbnail {
        height: 96px;
        width: 96px;
    }
}