<div class="card w-100 shadow-sm">
    <div>
        <img class="card-img-top" src="http://via.placeholder.com/500x300" alt="Card image cap">
        <div class="card-img-overlay p-1">
            <span class="badge badge-secondary mr-1" *ngFor="let cat of book.categories" (click)="searchCategory(cat)">{{cat.name}}</span>
        </div>
    </div>
    <div class="card-body">
        <div style="height: 125px !important">
            <h5 class="card-title">{{book.title}}</h5>
            <p>{{book.author}}</p>
        </div>
        <br />
        <div class="row">
            <div class="col-6 p-1"><a href="#" class="w-100 btn btn-outline-secondary px-2 py-1" (click)="openDetails()">Details</a></div>
            <div class="col-6 p-1"><a href="#" class="w-100 btn btn-primary px-2 py-1">Rent</a></div>
        </div>
    </div>
</div>