<div class="card w-100 shadow-sm">
    <div>
        <img class="card-img-top" src="{{ThumbnailImage ? ThumbnailImage : '/Media/default.png'}}" alt="Card image cap">
    </div>
    <div class="card-body">
        <div style="height: 125px !important">
            <h5 class="card-title">{{book.BookTitle}}</h5>
            <p>{{book.AuthorName}}</p>
        </div>
        <br />
        <div class="row">
            <div class="col-6 p-1"><a class="w-100 btn btn-outline-secondary px-2 py-1" href="/Book/Index?bookId={{book.BookId}}">Details</a></div>
            <div class="col-6 p-1"><button class="w-100 btn btn-primary px-2 py-1{{book.Quantity < 1 || !signedIn ? ' disabled' : ''}}" (click)="openRentModal()">Rent</button></div>
        </div>
    </div>
</div>