<div class="container pt-4">
    <form>
        <div class="form-group">
            <label for="name">Enter your name</label>
            <input class="form-control" type="text" id="name" name="name" placeholder="Full Name">
        </div>
        <div class="form-group">
            <label for="email">Enter your email</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="details">How can we help you?</label>
            <textarea class="form-control" id="details" name="details" placeholder="Please explain your problem so we can work on it..." rows="8"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" />
        <input type="reset" class="btn btn-secondary" />
    </form>
</div>