<div class="container pt-4 ng-cloak" ng-controller="helpController">
    <div>
        <h1 class="h1">FAQ</h1>
        <br />
        <ul class="list-unstyled">
            <li>
                <h4 class="h4">What is {{appTitle}}?</h4>
                <p class="lead">
                    A library within a university online system which provides resources and
                    databases to support distance learners to conduct research or to consult information.
                </p>
            </li>
            <li>
                <h4 class="h4">How to create an account?</h4>
                <p class="lead">
                    Tap on sign up option in the top right corner of the page and enter a username and password,
                    Once you click sign up you will be able to rent and order books.
                </p>
            </li>
            <li>
                <h4 class="h4">How to rent a book?</h4>
                <p class="lead">
                    Type your book name or author’s name in the search bar, select the book you want to rent
                    then click on rent now, you will be redirected to the profile page where you can lookup your
                    previous orders
                </p>
            </li>
            <li>
                <h4 class="h4">A book or an author cannot be found</h4>
                <p class="lead">
                    Type your book/author’s name or part of it  in the search bar, you can either filter between publishing date
                    and date or by author’s name and publisher’s name. If you haven’t found your book, please don’t
                    hesitate to contact us by clicking on the contact us page.
                </p>
            </li>
            <li>
                <h4 class="h4">Can I sign up as a professor</h4>
                <p class="lead">
                    The sign up page will allow you to create an account as a university student,
                    in order to be able to access as professor, please contact the administration, only the admin can create
                    and manage professor accounts
                </p>
            </li>
        </ul>
    </div>
    <br />
    <div>
        <h1 class="h1">Credits</h1>
        <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
    <br />
</div>

@section scripts {
    @Scripts.Render("~/Scripts/help.js")
}