<app-slideshow></app-slideshow>
<br />

<div class="container my-4">
    <h4 class="h4">Most popular books</h4>
    <div class="row">
        <app-book-thumbnail *ngFor="let b of books" class="p-2 col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" [book]="b"></app-book-thumbnail>
    </div>
</div>
<br />

<div *ngIf="!signedIn" class="jumbotron jumbotron-fluid my-4">
    <div class="container">
        <h1 class="display-4">Get the most of {{appTitle}}</h1>
        <p class="lead">Login or Sign up so you can order a book online and enjoy many other features...</p>
        <a class="btn btn-outline-primary" href="/Account/Signup">Sign up</a>
        <a class="btn btn-outline-secondary" href="/Account/Login">Already have an account?</a>
    </div>
</div>
<br />

<div class="alert alert-heading container my-4" role="alert">
    <h4 class="alert-heading">Learn more</h4>
    <p>Learn more about how our system works, visit the help page.</p>
    <hr>
    <p class="mb-0">To visit help page <a href="/Help">click here!</a></p>
</div>
<br />