<div class="container">
    <div class="border rounded shadow-sm p-0 mt-5 overflow-x-auto">
        <table class="table table-hover m-0 text-center">
            <thead class="thead-light">
                <tr>
                    <th colspan="6">
                        <div class="row m-0">
                            <button class="btn btn-sm btn-default">
                                <span class="oi oi-magnifying-glass"></span>
                            </button>
                            <div class="col px-3">
                                <input id="search" class="form-control-plaintext remove-outline form-control-sm" type="text" placeholder="Search by username or book title" />
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="today" onchange="loadData($search.val())" />
                                <label for="today" class="custom-control-label font-weight-normal">Show only today's transactions</label>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>Username</th>
                    <th>Book Title</th>
                    <th>Pickup Date</th>
                    <th>Return Date</th>
                    <th>Book Price</th>
                    <th>Confirmation</th>
                </tr>
            </thead>
            <tbody id="reservations"></tbody>
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var $reservations;
        var $search;

        function checkout(resId) {
            $.ajax({
                url: 'api/ApiReservation/Checkout',
                type: 'post',
                data: {
                    ReservationId: resId,
                    Token: $('#Token').val()
                },
                success: function (res) {
                    if (res) {
                        loadData('');
                    } else {
                        Alert(_errorSomethingWentWrong, 'Checkout failed!');
                    }
                },
                error: _requestError
            });
        }

        function confirmCheckout(resId) {
            Confirm('Confirmation', 'Are you sure you want to continue?', function (res) {
                if (res) {
                    checkout(resId);
                }
            });
        }

        function getBtn(book) {
            var btn;
            switch (book.Status) {
                case 3:
                    btn = '<span class="oi oi-warning text-warning mr-3 pointer" data-placement="top" data-toggle="popover" data-content="Exceeded Deadline!"></span>' +
                        '<button class="btn btn-sm btn-outline-danger" onclick="confirmCheckout(' + book.ReservationId + ')">Confirm book returned ' +
                        '</button>';
                    break;
                case 2:
                    btn = '<button class="btn btn-sm btn-outline-info" onclick="confirmCheckout(' + book.ReservationId + ')">Confirm book returned</button>';
                    break;
                case 1:
                    btn = '<button class="btn btn-sm btn-outline-primary" onclick="confirmCheckout(' + book.ReservationId + ')">Confirm pickup</button>';
                    break;
                default:
            }
            return btn;
        }

        function loadData(key) {
            Loader('show');
            $reservations.html('<tr><td colspan="6" class="text-center"><p class="my-2">Please wait...</p></td></tr>');
            $.ajax({
                url: 'api/ApiReservation/ReservationSearch?token=' + $('#Token').val() + '&key=' + key + '&today=' + $('#today').prop('checked'),
                success: function (result) {
                    if (result) {
                        $reservations.html('');
                        for (var i = 0; i < result.length; i++) {
                            $reservations.append(
                                '<tr>' +
                                '<td>' + result[i].Username + '</td>' +
                                '<td>' + result[i].BookTitle + '</td>' +
                                '<td>' + result[i].PickupDate + '</td>' +
                                '<td>' + result[i].ReturnDate + '</td>' +
                                '<td>' + result[i].Price + '</td>' +
                                '<td>' +
                                getBtn(result[i]) +
                                '</td>' +
                                '</tr>'
                            );
                        }
                        if (result.length === 0) {
                            $reservations.html('<tr><td colspan="6">No records were found!</td></tr>');
                        }
                        initPopovers($reservations);
                    } else {
                        Alert(_errorSomethingWentWrong, 'Could not retrieve records!');
                    }
                },
                error: _requestError
            }).done(function () {
                Loader('hide', 500);
            });
        }

        $(document).ready(function () {
            $reservations = $('#reservations');
            $search = $('#search');
            $search.on('keyup', function () {
                loadData($search.val());
            });
            loadData('');
        });
    </script>
}