<div class="container">
    <div class="border rounded shadow-sm p-0 mt-5 overflow-x-auto">
        <table class="table table-hover m-0 text-center">
            <thead class="thead-light">
                <tr>
                    <th colspan="6">
                        <div class="row m-0">
                            <button class="btn btn-sm btn-default">
                                <span class="oi oi-magnifying-glass"></span>
                            </button>
                            <div class="col px-3">
                                <input id="search" class="form-control-plaintext remove-outline form-control-sm" type="text" placeholder="Search by username or book title" />
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="today" onchange="loadData($search.val())" />
                                <label for="today" class="custom-control-label font-weight-normal">Show only today's transactions</label>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>Username</th>
                    <th>Book Title</th>
                    <th>Pickup Date</th>
                    <th>Return Date</th>
                    <th>Book Price</th>
                    <th>Confirmation</th>
                </tr>
            </thead>
            <tbody id="reservations"></tbody>
        </table>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/checkout.js")
}