@section AddToHead {
    @Styles.Render("~/Content/css/home.css")
}

<app-slideshow>
    <div class="d-flex align-items-center justify-content-center w-100">
        <span class="spinner-border text-secondary m-5"></span>
    </div>
</app-slideshow>