.profile-img-top {
    background-image: url('/Media/default.png');
    background-position: center;
    background-size: cover;
    height: 256px;
    width: 256px;
}

app-order-root > div{
    min-height: 128px;
}