
@model OnlineLibrarySystem.Models.Person

@Html.HiddenFor(x => x.Error, new { @id = "error" })

<div class="container m-auto">
    <div class="w-350px mw-100 p-4 m-auto bg-light rounded border">
        <form method="post" action="/Account/Login">
            <div class="form-group">
                <label for="username">Username</label>
                <input minlength="4" maxlength="32" pattern=".{4,32}" required class="form-control" type="text" value="@Model.Username" id="username" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input minlength="6" maxlength="32" required class="form-control" placeholder="Password" id="password" type="password" name="password">
                <div class="invalid-feedback">Invalid username or password</div>
            </div>
            <input class="btn btn-primary w-100" type="submit" value="Sign in">
        </form>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        (function () {

            var $username;
            var $password;

            $(document).ready(function () {

                var error = $('#error').val() == 'True';
                $username = $('#username');
                $password = $('#password');

                if (error) {
                    $username.addClass('is-invalid');
                    $password.addClass('is-invalid');
                    $password.keypress(removeWarning);
                    $username.keypress(removeWarning);
                }
            });

            function removeWarning() {
                $username.removeClass('is-invalid');
                $password.removeClass('is-invalid');
            }

        })();

    </script>
}