@section AddToHead {
    <meta http-equiv="Refresh" content="1;url=/Account/Login" />
}

<div class="container m-auto">
    <div class="d-flex align-items-center justify-content-center w-100">
        <span class="spinner-border text-secondary mr-3"></span>
        <span>Please wait...</span>
    </div>
    <br />
    <div class="d-flex align-items-center justify-content-center w-100">
        <a class="btn btn-outline-primary" href="@Url.Action("Login","Account")">Skip</a>
    </div>
</div>
